@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url(LeagueSpartan-Bold.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #b60ed7
}

.HEAD img{
    position: relative;
    width: 100%;
    height: 135px;
}

.portfolio img{
    height: 100px;
    width: 200px;
    transform: translate(400px,-130px);
    position: absolute;
}

.research img{
    height: 100px;
    width: 200px;
    transform: translate(650px,-130px);
    position: absolute;
}

.presentation img{
    height: 100px;
    width: 200px;
    transform: translate(900px,-130px);
    position: absolute;
}

.future_research img{
    height: 100px;
    width: 200px;
    transform: translate(1150px,-130px);
    position: absolute;
}

.sm img{
    height: 400px;
    width: 400px;
    transform: translate(1000px,-155px);
    position: absolute;
}
.tittle{
    transform: translate(50px,-100px);
    position: absolute;
}

.tittle{
    font-family: 'LeagueSpartan-Bold';
    font-size: 50px;
    color: blue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #edc319;
}

.h2{
    text-align: center;
    font-size: 60px;
}

.num1{
    font-size: 30px;
    margin-left: 10px;
}

